<div class="footer wrapper">
	<nav class="nav">
		<div>
            Friends of the blog<br>
            <a href="https://martnquesada.github.io/">martnquesada.github.io</a><br>
            <a href="https://stasiak.at/">stasiak.at</a><br>
            <a href="https://nbaksalyar.github.io/">nbaksalyar.github.io</a><br>
            <a href="https://www.jacquescorbytuech.com/">jacquescorbytuech.com</a><br>
            <a href="http://mayeusis-portal.blogspot.com/">mayeusis-portal.blogspot.com</a><br>
            <a href="https://francisco.io/">francisco.io</a><br>
			<a href="https://mvdan.cc/">mvdan.cc</a><br>
        </div>
        <div>
            Aspirational sites<br>
            <a href="https://www.ribbonfarm.com/">ribbonfarm.com</a><br>
            <a href="https://slatestarcodex.com/">slatestarcodex.com</a><br>
        </div>
	</nav>
</div>

{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
<script src="https://utteranc.es/client.js"
        repo="jxub/jxub.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{- end -}}
